.typewriter {
    display: flex;
    justify-content: center;
}

.typewriter h3 {
    font-family: monospace;
    font-size: 1.5rem;
    margin: 0 auto;
    overflow: hidden;
    white-space: nowrap;
    border-right: 1px solid;
}

.typewriter h3.animate {
    animation: typing 3s steps(42) forwards, 
    blink 1s step-end infinite;
}

@keyframes typing {
    from {
        width: 0;
    }
    to {
        width: 100%;
    }
}

@keyframes blink {
    50% {
        border-color: transparent;
    }
}